.body{
    width: 800px;
    max-width: 100%;
}

.container{
    box-sizing: border-box;
    position: absolute;
   margin-left: 10%;
}
.timer-box{
    background-color: rgb(252, 220, 236);
    box-sizing: border-box;
    height: 650px;
    width: 900px;
    position: absolute;
    left: 15%;
    top: 1%;
    bottom: 10%;
}
.clock-box{
    background-color: pink;
    padding: 10px;
    width: 65%;
    margin-left: 15%;
    margin-bottom: 10%;
}
.grid-containery{
    display: grid;
    column-gap: 10px;
    grid-template-columns: auto auto;
}
.grid-itemy{
    grid-row: 1/2;
    margin-left: 50px;
}
.clock-container{
    text-align: center;
    border: 7px solid;
    border-color: rgb(255, 71, 76);
    align-items: center;
    margin-left: 125px;
    padding: 10px;
    width: 270px;
    height: 270px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    background-color:  rgb(252, 212, 232);
}
.grid-container1{
    display: grid;
    column-gap: 10px;
    grid-template-columns: auto auto;
}
.grid-item1{
    grid-row: 1/2;
    margin-left: 80px;
}
.hr-lines:before{
    content:" ";
    display: block;
    height: 3px;
    width: 100px;
    position: absolute;
    top: 50%;
    left: 0;
    background: rgb(248, 109, 109);
  }
  .hr-lines{
    position: relative;
    max-width: 500px;
    margin: 100px, 0px;
    text-align: center;
  }
  .hr-lines:after{
    content:" ";
    height: 3px;
    width: 100px;
    background: rgb(248, 109, 109);
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
  }
  .time-buttons{
    margin-left: 150px;
    padding: auto;
    position: absolute;
    bottom: 10%;
    padding: 50px;
  }

  